<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="resources">
        <meta charset="UTF-8">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title id="title" sec:authentication="name"></title>
        <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap4/bootstrap.min.css}">
        <script type="text/javascript" th:src="@{js/jquery-3.3.1.min.js}"></script>
        <link rel="stylesheet" th:href="@{css/design.css}">
        <script type="text/javascript" th:src="@{js/talk.js}"></script>
        <link rel="stylesheet" th:href="@{css/header.css}">
        <link rel="stylesheet" th:href="@{css/talk_des.css}">
    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="nav_1 nav nav-tabs">
        <li class="nav_word">Field</li>
        <li class="nav_word2"><a>Resource</a></li>
        <li class="nav_word3" id="ask" style="cursor: pointer;"><a>提问</a></li>
    </nav>
</div>
</body>
</html>