<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header :: resources"></div>
</head>
<body>
<div class="loca_1">
    <div class="loca_2">
        <div th:replace="fragments/header :: header"></div>
    </div>
    <div class="loca_3">
        <div class="loca_3_1">
            <div th:replace="fragments/silder :: silder"></div>
        </div>
        <div class="loca_3_2">

        </div>
    </div>
</div>
</body>
</html>